.fieldset_border
        
        {
            
            border-color: graytext;
            
        }
        .lengend_color
        {
            color:orange;
            
        }
        
        
        .logindiv
        {
            border:1px solid black;
            position:absolute;
            top: 20px;
            height:200px;
            width:250px;
            right:20px;
            
            
        }
        
        .div_username
        {
            position:relative;
            top: 20px;
            
            
        }
        
        .div_pass
        {
           position:relative;
            top: 20px;
            
            
        }
        
        .login
        {
            
            
            color:red;
            
        }
        
        .login_button
        {
           position:relative;
           left:70px;
            
        }
        .clear_button
        {
           position:relative;
           left:70px;
            
        }
        
        .bd
        {
             background-image: url('static/images/LoginRed.jpg' );
             background-repeat: no-repeat;
             height:100px;
             width:100px;
            
        }